.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  position: relative;
  top: 80px;
  padding-left: 50px;
  padding-right: 50px;

}

.content {
  font-size: 14px;
}

/* .outer-container {
  background-color: rgb(235, 235, 235);
  height: 100vh;
  width: 100vw;
} */

.post-picture {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.post-input {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  margin-left: 10px;
  transition: opacity 0.167s, background-color 0.167s;
  cursor: pointer;
  outline: none;
}

.post-input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.post-input:hover {
  background-color: rgb(235, 235, 235);
  opacity: 0.8;
}

.post-section-container {
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  /* width: 390px; */
  flex: 1 100%;
  background-color: white;
}

.post-section {
  display: flex;
  padding: 5px 10px;
  /* background-color: aqua; */
}

.post-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 14px;
}

.icon-container, .reaction {
  display: flex;
  /* width: 88.64px;
  height: 48px; */
  padding: 20px;
  align-items: center;
  cursor: pointer;
}

.icon-container:hover, .reaction:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.icon-image {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.sort-section {
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  line-height: 0.1em;
  flex: 1 100%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  margin-top: 20px;
}

.sort-section span {
  background-color: rgb(235, 235, 235);
  padding: 0 10px 0 5px;
}

.top {
  color: black;
  font-weight: bold;
  /* display: flex; */
}

.post-content-container {
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  flex: 1 100%;
  margin-bottom: 10px;
}

.profile-comment-picture {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.top-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-comment-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.top-comment-content p {
  color: black;
  font-weight: bold;
}

.top-comment-content span {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
}

.close-button {
  font-size: 20px;
  cursor: pointer;
}

.dot-symbol {
  margin-right: 25px;
  /* font-weight: bold; */
}

.middle-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.middle-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.middle-profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-profile-picture-name {
  font-weight: bold;
  color: black;
}

.middle-profile-section p {
  margin-bottom: 5px;
}

.follow-button {
  color: rgb(10, 102, 194);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.follow-button span {
  margin-right: 3px;
}

.details {
  width: 100%;
  margin-bottom: 10px;
}

.details-image {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  object-fit: contain;
  object-position: center;
}

.details-image-container {
  margin-left: -20px;
  margin-right: -20px;
}

.likes-comment-notifications {
  display: flex;
  justify-content: space-between;
}

.reactions-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.reaction {
 padding: 10px;
}

.reaction img {
  width: 20px;
  height: 20px;
}

.reaction p {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 500;
}

.like-reaction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like-reaction img {
  width: 15px;
  height: 15px;
}

.like-reaction div {
  background-color: rgb(10, 102, 194);
  width: fit-content;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
