.profile-section-container,
.recent {
  background-color: white;
  margin-right: 40px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  flex: 1 100%;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin-bottom: 10px;
}

.profile-section-top {
  height: 80px;
  /* width: 225px; */
  background-color: rgb(235, 235, 235);
  background-image: url("../images/profiletop.svg");
  margin-right: -20px;
  margin-left: -20px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.profile-picture-container {
  margin-top: 30px;
  display: block;

}

.profile-title {
  text-align: center;
  margin-bottom: 20px;
}

.profile-title .profile-title-name {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.profile-section-container hr,
.recent hr {
  margin-left: -20px;
  margin-right: -20px;
}

.profile-view {
  font-weight: 600;
}

.profile-view .viewer,
.profile-view .connection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-view .connection {
  margin: 0;
}

.profile-view .network {
  color: black;
}

.profile-view span {
  color: rgb(10, 102, 194);
}

.goal .premium-text {
  font-weight: 600;
  color: black;
  margin-left: 10px;
}

.premium-info {
  display: flex;
  flex-direction: row;
}

.premium-info img {
  width: 15px;
  height: 15px;
}

.items-section {
  display: flex;
  flex-direction: row;
}

.items-section img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.recent {
  overflow: visible;
}

.recent .recent-title {
  margin-bottom: 20px;
}

.recent-details-container {
  margin-bottom: 10px;
}

.recent-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.recent-details img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.quick-links {
  margin-top: 25px;
}

.quick-links p,
.events {
  color: rgb(10, 102, 194);
  font-weight: 600;
  margin-bottom: 10px;
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.events p {
  margin-bottom: 0;
}

.events span {
  font-size: 20px;
  color: black;
  font-weight: normal;
}

.show-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.show-container img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.discover {
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}